
<div class="todo-list">
  <app-todo-list-item [todo]="todo" *ngFor="let todo of todos$ | async"></app-todo-list-item>
</div>

<div *ngIf="isLoadingTodos$ | async">Loading...</div>

<div class="add-todo">
  <div class="caption">Добавить новую</div>
  <form class="add-todo-form" [formGroup]="form" (ngSubmit)="onAddTodo()" novalidate>
    <input class="add-todo-input" type="text" formControlName="title">
    <button class="add-todo-button" [disabled]="!form.get('title').value" type="submit">Добавить</button>
  </form>
</div>
