
.todo-list {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.add-todo {
  margin-top: 24px;
  .add-todo-input {
    height: 24px;
    padding: 0 8px;
    font-size: 14px;
  }
  .add-todo-button {
    margin-left: 8px;
  }
}
